

/* Set attributes for the footer of each page */
footer {
    margin-top: auto;
    /* Make footer take up whole width of page */
    border-top: solid 1px;
    color: white;
    /* Change footer color */
    background-color: darkslategray;
}

.clear { clear: both; height: 100px; }